@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

body{
    background-color: rgba(96, 140, 190, 0.911);
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    
}
main{
    min-width: 300px;
    max-width: 1000px;
    padding: 15px;
    margin: auto;
    background-color: aliceblue;
    border-radius: 5px;
   

}
h1{
    font-family: 'Ubuntu';
    font-weight: bold;
    color: rgb(49, 107, 158);
    text-shadow: 2px 2px 2px black;
}

button{
    font-size: 12pt;
    padding: 30px;
    background-color: rgba(74, 153, 74, 0.61);
}
