@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;1,700&display=swap');

body{
    background-color: rgba(96, 140, 190, 0.911);
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    
}
main{
    min-width: 300px;
    max-width: 1000px;
    padding: 15px;
    margin: auto;
    background-color: aliceblue;
    border-radius: 5px;
   

}
h1{
    font-family: 'Roboto';
    font-weight: bold;
    color: rgb(49, 107, 158);
    text-shadow: 2px 2px 2px black;
}

button{
    font-size: 12pt;
    padding: 30px;
    background-color: rgb(92, 90, 182);
}

button:hover{
    background-color: rgba(92, 90, 182, 0.397);
    font-family: 'Roboto';
}
.pass{
    font-weight: bold;
    color: rgba(19, 151, 19, 0.747);
}
.rep{
    font-weight: bold;
    color: rgba(175, 40, 40, 0.76);
}