

body{
    background-color: rgb(81, 92, 253);
    font: normal 15pt Arial;
}
header{
    text-align: center;
    color: white;
}

section {
    min-width: 300px;
    max-width: 1000px;
    padding: 15px;
    margin: auto;
    background-color: aliceblue;
    border-radius: 5px;
    box-shadow: 5px 5px 15px black;
}

.hora{
    text-align: center;
    font-weight: bold;
}

.imgem{
    text-align: center;
}

footer{
    padding-top: 20px;
    text-align: center;
    color: white;
    font-style: italic;
}