

body{
    background-color: rgb(81, 92, 253);
    font: normal 15pt Arial;
}
header{
    color: white;
    text-align: center;
}

main {
    background-color: aliceblue;
    border-radius: 5px;
    box-shadow: 5px 5px 15px black;
    margin: auto;
    min-width: 300px;
    max-width: 1000px;
    padding: 15px;
}

.mostra_numinserido{
    display: flex;
    flex-direction: column;
    width: 50vh;
    
}

#inputnumero{
    height: 1.25rem;
    margin-top: 1rem;
}

.fazer{
    padding: .25rem;
}

.btn{
    margin-top: 1.25rem;
    padding: 1rem;
    width: 30vh;
    
}

#res{
    margin-top: 1rem;
    width: 30vh;
}

footer{
    color: white;
    font-style: italic;
    padding-top: 20px;
    text-align: center;
}